.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: auto;
  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
}

.header {
  grid-area: h;
  background-color: cadetblue;
}

.header img {
  width: 100px;
}

.nav {
  grid-area: n;
  background-color: aqua;
}

.content {
  grid-area: c;
  background-color: chocolate;
}
